# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://fkrhjhfwzaqdntyoysog.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZrcmhqaGZ3emFxZG50eW95c29nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzOTY3NzEsImV4cCI6MjEwNDk3Mjc3MX0.zc4opci4TooquCKGDk_UPxhULBZ3F1-OLljHE5tuiXs